<script>

var createCORSRequest = function(method, url) {
  var xhr = new XMLHttpRequest();
  if ("withCredentials" in xhr) {
    // Most browsers.
    xhr.open(method, url, true);
  } else if (typeof XDomainRequest != "undefined") {
    // IE8 & IE9
    xhr = new XDomainRequest();
    xhr.open(method, url);
  } else {
    // CORS not supported.
    xhr = null;
  }
  
  xhr.setRequestHeader("Content-Type", 'application/json');
  return xhr;
};

var createAsyncCORSRequest = function(method, url) {
  var xhr = new XMLHttpRequest();
  if ("withCredentials" in xhr) {
    // Most browsers.
    xhr.open(method, url, false);
  } else if (typeof XDomainRequest != "undefined") {
    // IE8 & IE9
    xhr = new XDomainRequest();
    xhr.open(method, url);
  } else {
    // CORS not supported.
    xhr = null;
  }
  
  xhr.setRequestHeader("Content-Type", 'application/json');
  return xhr;
};

var load3dURLString = 'https://demo.bimaas.uk:9453/bs';
var projectIds = [];
var revisionIds = [];
var gotProjectsFlag = false;

var load3dURL = function(projectId){
	//alert('one');
	projectIds.push(projectId);
	revisionIds.push('1');
	var getAllProjectFor3dRequest = '{"request": {"method": "getSubProjectIds","parentId":"'+projectId+'", "userName":"jsmith@carbon.super" }}';
   var getAllProjectFor3dUrl = 'https://demo.bimaas.uk:8247/bimaas-project/GetSubProjects';
   var method = 'POST';
   var getAllProjectFor3dXhr = createCORSRequest(method, getAllProjectFor3dUrl,true);

	getAllProjectFor3dXhr.send(getAllProjectFor3dRequest);
   getAllProjectFor3dXhr.onload = function()
   {
      // Success code goes here
	  //alert('two');
	  //alert(projectId);
      var jsn = JSON.parse(getAllProjectFor3dXhr.response);
      
      if(jsn.projects == null){
			var getAllProjectRequest = '{"request": {"method": "getAllProjects" }}';
		   var url = 'https://demo.bimaas.uk:8247/bimaas-project/GetAllProjects';
		   var method = 'POST';
		   var xhr = createCORSRequest(method, url);

			xhr.send(getAllProjectRequest);
		   xhr.onload = function()
		   {
			  // Success code goes here
			  var jsn = JSON.parse(xhr.response);

			  $.each(jsn.response.result,
				 function(i, v)
				 {
					if(v.oid == projectId){
						revisionIds = [];
						revisionIds.push(v.revisions[0]);
						//alert("found");
					}else{
						//alert("not found");
					}
				 });
				 load3dURLString += '/?' + 'projectId=' + projectIds.join(",") + '&' + 'revisionId=' + revisionIds.join(",");
				load3dURLString = load3dURLString.replace(/,\s*$/, "");
				console.log('projectId=' + projectIds);
				console.log('revisionId=' + revisionIds);
				$('#contwrap').html("<iframe src='"+load3dURLString+"'></iframe>");
				
				//load3dURLString = load3dURLString + '&' + 'revisionId=' + revisionIds.join(",");
				//alert(load3dURLString);
				console.log(load3dURLString);
				//alert(load3dURLString);
				projectIds =[];
				revisionIds = [];
				load3dURLString = 'https://demo.bimaas.uk:9453/bs';
		   };

		   xhr.onerror = function()
		   {
			  // Error code goes here.
		   };
	  }else{
		$.each(jsn.projects.project,
         function(i, v)
         {
            projectIds.push(v.poid);
			revisionIds.push(v.activateRevisionId);
         });
		 
		 load3dURLString += '/?' + 'projectId=' + projectIds.join(",") + '&' + 'revisionId=' + revisionIds.join(",");
		load3dURLString = load3dURLString.replace(/,\s*$/, "");
		console.log('projectId=' + projectIds);
		console.log('revisionId=' + revisionIds);
		$('#contwrap').html("<iframe src='"+load3dURLString+"'></iframe>");
		
		//load3dURLString = load3dURLString + '&' + 'revisionId=' + revisionIds.join(",");
		//alert(load3dURLString);
		console.log(load3dURLString);
		//alert(load3dURLString);
		projectIds =[];
		revisionIds = [];
		load3dURLString = 'https://demo.bimaas.uk:9453/bs';
	  }
   };

   getAllProjectFor3dXhr.onerror = function()
   {
      // Error code goes here.
   };

}

function loadAsPage(obj){
 var page=obj.href;
var eid=document.getElementById('contwrap');
    document.getElementById('contwrap').innerHTML='<object data="'+page+
      '" type="text/html"><embed src="'+page+'" type="text/html" /></object>';

return false;

}

function go(obj) {
//alert("..... "+obj);
    var page=obj.href;



/*
    var eid=document.getElementById('contwrap');
    document.getElementById('contwrap').innerHTML='<object data="'+page+
      '" type="text/html"><embed src="'+page+'" type="text/html" /></object>';

*/

//alert("ds"+page);
$('#contwrap').load(page);

    return false;
}


function goto(obj) {
    var page=obj.href;

//alert("ds"+page);
$('#contwrap').load('demo.bimaas.uk:9453/bs/');

    return false;
}

function loadDashboard(){
$('#contwrap').load('https://demo.bimaas.uk:9453/project_dashboard/');
}

function load3d(){
<!-- $('#contwrap').load('https://52.74.66.119:9453/bs/'); -->
if(window.GLOBAL_ACTIVE_PROJECT_ID == '-1' || window.GLOBAL_ACTIVE_PROJECT_ID == undefined || window.GLOBAL_ACTIVE_PROJECT_ID == null){
	alert('Please open a project before loading the 3D view.');
	$('#contwrap').load('https:///demo.bimaas.uk:9453/project_dashboard/');
}else{
	load3dURL(window.GLOBAL_ACTIVE_PROJECT_ID);
}
}

function loadRule(){
$('#contwrap').load('https://demo.bimaas.uk:9453/alert/rule/');
}

function loadStat(){
$('#contwrap').load('https://demo.bimaas.uk:9453/stat/');
}

function loadAQ(){
$('#contwrap').load('https://demo.bimaas.uk:9453/asset_query/');
}





function loadx(){
$('#contwrap').load('https://demo.bimaas.uk:9453/bs/project_dashboard.jag');

}

function loadProjectCreation(){
$('#contwrap').load('https://demo.bimaas.uk:9453/project-management/create/');
}


function loadProjectList(){


$('#contwrap').load('https://demo.bimaas.uk:9453/project-management/list/');
}


function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function loadapi(){
var cookie=getCookie("cookieval");
//$('#contwrap').load('https://demo.bimaas.uk:9443/store/?ck='+cookie+'&abc=efd');
var url='https://52.74.66.119:9443/store/apis/list';
//var url='https://52.74.66.119:9443/store/?ck='+cookie+'&abc=efd';
window.open(url,'_blank');
}






</script>




<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="themes/htmlBlogAggregator/img/user8-128x128.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>Joe Smith - BIMaaS Admin</p>

              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
         <!-- <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form> -->
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN MENU</li>
            
			
			 <!-- project structure shld load here -->
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="#" onclick="loadDashboard();"><i class="fa fa-circle-o"></i> Project Dashboard</a></li>
		<!--    -->
              </ul>
            </li>



        <li class="treeview">
              <a href="#">
                <i class="fa fa-cube"></i>
                <span>BIM 3D</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#" onclick="load3d();"><i class="fa fa-circle-o"></i> 3D Model Visualisation</a></li>
              </ul>
            </li>


            <li class="treeview">
              <a href="#">
                <i class="fa fa-bar-chart-o"></i>
                <span>BIM Stat</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a  href="#" onclick="loadStat();"><i class="fa fa-circle-o"></i> Model Analytics</a></li>
                
              </ul>
		<ul class="treeview-menu">
                <li><a  href="#" onclick="loadAQ();"><i class="fa fa-circle-o"></i> Asset Query</a></li>
                
              </ul>
            </li>


            <li class="treeview">
              <a href="#">
                <i class="fa fa-bolt"></i> 
			<span>BIM Alert</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#" onclick="loadRule();"><i class="fa fa-circle-o"></i> Manage Rules</a></li>
                
              </ul>
            </li>


              <li class="treeview">
                  <a href="#">
                      <i class="fa fa-puzzle-piece"></i> <span>BIM Connect</span>
                      <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                      <li><a href="#" onclick="loadapi();"><i class="fa fa-circle-o"></i> API Store</a></li>
                      
                  </ul>
              </li>

	  <li class="treeview">
              <a href="#">
                <i class="fa fa-cogs"></i> 
			<span>BIM Admin</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#" onclick="loadProjectCreation();"><i class="fa fa-circle-o"></i> Add Project</a></li>
              </ul>
		<ul class="treeview-menu">
                <li><a href="#" onclick="loadProjectList();"><i class="fa fa-circle-o"></i> List Projects</a></li>
              </ul>

            </li>


<li class="header">HELP</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Documentation</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>About BIMaaS</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>License</span></a></li>










           
                   
            
            
          </ul>
		  
		  
		  
		  
		  
		  
		  
        </section>
        <!-- /.sidebar -->
      </aside>
